@use '../../assets/colors.scss';

.header {
	background-image: url('../../assets/images/pattern-bg-mobile.png');
	background-repeat: no-repeat;
    background-size: cover;
	color: colors.$white;

	&__wrapper {
		position: relative;
		max-width: 1200px;
		margin: 0 auto;
		padding: 1.2em 1em 7em;
		text-align: center;
	}

	&__title {
		margin-bottom: 0.8em;
		font-size: 2.4rem;
		font-weight: 500;
	}
}

@media (min-width: 768px) {
	.header {
		background-image: url('../../assets/images/pattern-bg-desktop.png');

        &__title {
            font-size: 3rem;
        }
	}
}
