@use '../../assets/colors.scss';

.tracker-result {
	position: absolute;
	right: 1em;
	bottom: -140px;
	left: 1em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 270px;
	padding: 1em;
	background: colors.$white;
	border-radius: 1.5rem;
	box-shadow: -1px 9px 37px -16px colors.$very-dark-gray;
	color: colors.$very-dark-gray;
	z-index: 5;
}

@media (min-width: 768px) {
	.tracker-result {
		bottom: -130px;
	}
}

@media (min-width: 1200px) {
	.tracker-result {
		right: 0;
		bottom: -90px;
		left: 0;
		flex-direction: row;
		min-height: 205px;
		padding: 2em;
	}
}
