@use '../../assets/colors.scss';

.tracker-result {
	position: absolute;
	right: 1em;
	bottom: -150px;
	left: 1em;
	padding: 1em;
	background: colors.$white;
	border-radius: 1.5rem;
	box-shadow: -1px 9px 37px -16px colors.$very-dark-gray;
	color: colors.$very-dark-gray;
}

@media (min-width: 992px) {
	.tracker-result {
		bottom: -75px;
		display: flex;
		padding: 2em;
	}
}

@media (min-width: 1200px) {
	.tracker-result {
		right: 0;
		left: 0;
	}
}
